<div class="mt-5 body">
    <div class="container">
        <div class="card text-bg-dark mx-auto" >
            <div class="card-header mx-auto">
                <h1>¿QUIENES SOMOS?</h1>
            </div><img src="/img/mungo gaming.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle"
                style="width:350px; heigth: 350px; display:block">
                <h2 class="text-uppercase text-center p-4"><i class="fa-solid fa-gamepad">GAMING WORLD</i></h2>
                <div class="card-body text-center">
                    <p>¡Bienvenido a mi página informativa de videojuegos! Aquí encontrarás noticias frescas, reseñas detalladas, guías útiles y análisis profundos sobre tus juegos favoritos. ¡Explora conmigo el apasionante mundo del gaming y mantente al tanto de las últimas tendencias!</p>
                    <a href="/" class="btn btn-primary"> Volver a Inicio</a>
                </div>
        </div>
    </div>
</div>