<main class="mt-5 body">
    <div class="container">
        <div class="card text-bg-dark mx-auto" >
            <div class="card-header">
                <img src="/img/goty.jpg" alt="logo" class="card-img-top mx-auto m-2 rounded-circle"
                style="width:150px; heigth: 150px; display:block">
                <h3 class="text-uppercase text-center p-4">GANADORES DEL PREMIO GOTY</h3>
                <div class="card-body text-center">
                    <p>Cada revista de videojuegos entrega a finales de año sus propios premios a lo más granado y selecto de la temporada de lanzamientos. Y entre galardón y galardón, raro es que no haya una condecoración por encima de todas, la de Juego del Año, la de GOTY (Game of the Year). </p>
                    <a href="/ganadoresgoty" class="btn btn-primary"> VER GANADORES</a>
                </div>
            </div>
        </div>
    </div>
</main>