<div class="row col" style="width: 100%;" >
    <div class="col" style="margin-right: 30%;">
    <div ><h4>QUIENES SOMOS</h4>
        <p>¡Bienvenido a mi página informativa de videojuegos! Aquí encontrarás noticias frescas, reseñas detalladas, guías útiles y análisis profundos sobre tus juegos favoritos. ¡Explora conmigo el apasionante mundo del gaming y mantente al tanto de las últimas tendencias!</p>
    </div></div>
<div class="col" >
    <div><h4>CONTACTENOS</h4>
        <p>EMAIL: <i class="fa-regular fa-envelope"></i> <a href="mailto:cheycops.nicolas@gmail.com" style="text-decoration: none; color:white">CHEYCOPS.NICOLAS@GMAIL.COM</a>
        <br>Telefono:<i class="fa-solid fa-phone"></i> 601-3546865 
        <br>WHATSAPP: <i class="fa-brands fa-whatsapp"></i> <a href="https://api.whatsapp.com/send/?phone=573026143018&text&type=phone_number&app_absent=0" style="text-decoration: none; color:white"> 3026143018</a></p>
    </div></div>

</div>