<div class="row col" style="width: 100%;" >
    <header class="text-center text-uppercase">
        <h3>contactenos</h3>
    </header>
    <div class="col text-center">
        <p>NICOLAS CHACON RINCON</p>
    </div>
    <div class="col text-center">
        <p>Email: <i class="fa-regular fa-envelope"></i> <a href="mailto:cheycops.nicolas@gmail.com" style="text-decoration: none; color:white">Cheycops.nicolas@gmail.com</a></p>
    </div>
    <div class="col text-center">
        <p>Telefono:<i class="fa-solid fa-phone"></i> 601-3546865</p>
    </div>
    <div class="col text-center">
        <p>Whatsapp: <i class="fa-brands fa-whatsapp"></i> <a href="https://api.whatsapp.com/send/?phone=573026143018&text&type=phone_number&app_absent=0" style="text-decoration: none; color:white"> 3026143018</a></p>
    </div>
</div>